@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-background: #f1f3f5;
  --color-foreground: #1a202c;
  --color-primary: #f6d10b;
  --color-secondary: #fb5b01;
}

#root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}
