@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-background: #F1F3F5;
}

body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background);
    color: black;
    font-family: var(--font-inter);
}
